body{
    font-family: 'Dancing Script', cursive;
    background-color: #C5C6C7;
    
    margin: 0;
}
#header{
    background-color: #1F2833;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;   
    height: 100px;
  
}
.nav-contents{
    display:flex;
    justify-content:space-evenly;

}
.icon{
    color:#66FCF1;
    font-size:x-large;
    margin-left: 5%;
}
.nav-bar{
    color:#66FCF1;
    display: flex; 
    gap:20px;
    align-items: center;
    justify-content: end;
    
}
a{
    color: inherit;
    text-decoration: none;
}

#main-content{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    height:400px;
    
}

#user-image{
    width:50%;
    height:80%;
    border-top-left-radius: 60%;
    border-bottom-left-radius: 60%;
}
#title{
    color:#66FCF1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content{
    display:flex;
    justify-content: center;
    align-items: center;
    width:80%;
    margin:5%;

}
#user-desc{
    width:100%;
    height:80%;
    color:#C5C6C7;
    background-color: #1F2833;
}
#footer{
    
    background-color:#1F2833;
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:30%;

}
.social-icon{
    margin-top:10%;
    margin-bottom: 10%;
    width:50%;
    background-color: #1F2833;
    align-items: center;
}
#footer a {
    border: none;
    background: none;
    padding: 0; 
    display:flex;
    justify-content: space-evenly;
  }